In [14]:
import sqlite3
conexion= sqlite3.connect("mibase1.db")
#creacion del cursor

In [4]:
#conexion= sqlite3.connect("mibase1.db")
#cursor = conexion.cursor()

#cursor.execute("""
#        create table estudiantes(
#               nombre text,
#               apellido text,
#               edad int,
#               email text, 
#               id varchar(20)
#               )
#             """)

#print("Se ha creado la tabla con exito")

#conexion.commit()
#conexion.close()

Se ha creado la tabla con exito

In [18]:
# insert de datos

#cursor.execute(
#    """
#    insert into estudiantes(nombre,apellido,edad, email, id)
#    values("adan","nacho",26,"anacho@gmail.com",1)
#    """
#)
#print("Se ha agregado datos")

conexion= sqlite3.connect("mibase1.db")
cursor = conexion.cursor()

#consulta
datos= cursor.execute("select * from estudiantes")
for row in  datos:
    print (row)
conexion.commit()
conexion.close()

('adan', 'nacho', 26, 'anacho@gmail.com', '1')

In [ ]:
##conexion con la base de datos
conexion= sqlite3.connect("mibase1.db")
cursor = conexion.cursor()
datos= cursor.execute("""

""")

for row in  datos:
    print (row)
conexion.commit()
conexion.close()

Creacion de una base de datos Peliculas.db, con la tabla peliculas

In [ ]:
import sqlite3

con=sqlite3.connect("Peliculas.db")

cursor=con.cursor()

    #creacion de la tabla con sus variables
sql= """
    create table peliculas(
        nombre varchar,
        año int,
        duracion int,
        genero varchar
    )
"""


cursor.execute(sql)

In [20]:
#parte obligatoria
con=sqlite3.connect("Peliculas.db")
cursor=con.cursor()

# insertamos en la tabla de la base de datos

cursor.execute("""
    insert into peliculas(nombre,año, duracion,genero)
    values ("El padrino",1972,175,"Drama")

""")
cursor.execute("""
    insert into peliculas(nombre,año, duracion,genero)
    values ("El A",2001,180,"Fantasia")

""")
cursor.execute("""
    insert into peliculas(nombre,año, duracion,genero)
    values ("El B",2005,175,"Drama")

""")
cursor.execute("""
    insert into peliculas(nombre,año, duracion,genero)
    values ("El C",1999,90,"Drama")

""")

# commit y cerramos el cursor
con.commit()
con.close()

In [2]:
# consulta de peliculas cuya duracion >175
con=sqlite3.connect("Peliculas.db")
cursor=con.cursor()

cursor.execute(
    """
    select * from peliculas where duracion >175
    """
)

print(cursor.fetchall())    ##imprimir los registros que cumplen con el criterio

con.commit()
con.close()

[('El A', 2001, 180, 'Fantasia')]

In [3]:
# consulta de peliculas cuya año<3000 y genero  = "Drama"

con=sqlite3.connect("Peliculas.db")

cursor=con.cursor()

cursor.execute(
    """
    select * from peliculas where año <3000 and genero == 'Drama'
    """
)

print(cursor.fetchall())    ##imprimir los registros que cumplen con el criterio
con.commit()
con.close()

[('El padrino', 1972, 175, 'Drama'), ('El B', 2005, 175, 'Drama'), ('El C', 1999, 90, 'Drama')]

# order by

In [9]:
con=sqlite3.connect("Peliculas.db")
cursor=con.cursor()

sql=  """
    select nombre,año from peliculas order by año desc
"""

cursor.execute(sql)

datos=cursor.fetchall()

print(datos)    ##imprimir los registros que cumplen con el criterio

con.commit()
con.close()

[('El B', 2005), ('El A', 2001), ('El C', 1999), ('El padrino', 1972)]

# muestra de datos con for

In [15]:
con=sqlite3.connect("Peliculas.db")
cursor=con.cursor()

sql=  """
    select nombre,año from peliculas 
    where año <3000
    order by año desc
"""

cursor.execute(sql)

datos=cursor.fetchall()

for x,y in datos:
    print(x, ' del año  ',y)

con.commit()
con.close()

El B  del año   2005
El A  del año   2001
El C  del año   1999
El padrino  del año   1972

In [56]:
con=sqlite3.connect("Peliculas.db")
cursor=con.cursor()

## acá modificamos

#update
sql_u=  """
    update  peliculas set genero = 'B' where año ==1972
"""
#mostramos con select
sql_mostrar= """
    select * from peliculas where año =1972
"""
cursor.execute(sql_mostrar)

datos=cursor.fetchall()
print(datos)

#con.rollback(), si no pongo commit se hace un autorollback
con.commit()
con.close()

[('El padrino', 1972, 175, 'B')]

In [45]:
con=sqlite3.connect("Peliculas.db")
cursor=con.cursor()
con.rollback()

# Update

In [ ]:
con=sqlite3.connect("Peliculas.db")
cursor=con.cursor()

sql= """
    update estudiantes set calificacion =calificacion +10
    where calificacion<=60
"""

cursor.execute(sql)
con.commit()
con.close()

# Delete

In [59]:
con=sqlite3.connect("Peliculas.db")
cursor=con.cursor()

sql= """
    delete from Peliculas
    where genero=='B'
"""

sql_1= """
    select * from peliculas
"""

cursor.execute(sql_1)

datos=cursor.fetchall()
print(datos)

con.commit()
con.close()

[('El A', 2001, 180, 'Fantasia'), ('El B', 2005, 175, 'Drama'), ('El C', 1999, 90, 'Drama')]